.participant-item__container {
    display: flex;
    align-items: center;
    width: 100%;
}
.participant-item__container--name {
    margin-left: 5px;
}
.participant-item__container--icon {
    color: #b55d03;
}
.participant-column-list__container {
    display: flex;
    align-items: center;
    width: 100%;
}
