.participant-list-item__container {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 84px;
    justify-content: center;
    width: 80%;
}
.participant-list-item__container--item {
    margin-left: 18px;
}
.participant-list-item__container--selector {
    margin-left: 51px;
    color: #b55d03;
    cursor: pointer;
    display: block;
}
